
<header>
    <div class="contaier">
        <div class="d-flex" style="align-items: center;">
            <div class="logo" style="width: 70px;height: 70px; ">
                <img style="width: 100%;" src="../../assets/Image/logo.png" alt="">
            </div>
            <nav>
                <ul style="display: flex;list-style: none;">
                    <li><a style="text-decoration: none;"  >home</a></li>
                    <li><a style="text-decoration: none;"  routerLink="empoyeList">All Empoyee </a></li>
                    <li><a style="text-decoration: none;"  routerLink="empoyeeForm">Add Empoyee</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>